.main, .header, .page-bottom, .subscribe-block  {
  max-width: 1310px;
}

h1, h2, h3, h4, h5, a, nav {
  font-family: sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

#page-heading {
  width: 100%;
  max-width: 395px;
  max-height: 60px;
  object-fit: cover;
}

#nav-top {
  background-color: #ff0500;
  padding: 20px 25px 15px 25px;
}

#nav-top .nav-link {
  color: white;
  font-weight: 900;
  margin-right: 15px;
}

#nav-top h4 {
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.header .btn-primary {
  color: black;
  font-size: 16px;
  font-weight: 700;
  border-radius: 24px;
  background-color: #ffe400;
  height: 30px;
  padding: 0px 12px;
}